<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/navbar.css" />
    <link rel="icon" href="images/favicon6.ico" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/home.css">
    <script src="scripts/navbar.js" defer></script>
    <title>Eden Aesthetics</title>
</head>
<body>
        <!-- NAVBAR start -->
        <header>
            <!-- LOGO start -->
            <div class="logo">
                <img src="images/favicon6.ico" alt="Music Note">
                Eden Aesthetics
            </div>
            <!-- LOGO end -->
            <!-- HAMBURGER MENU start -->
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <!-- HAMBURGER MENU end -->
            <!-- LINKS start -->
            <nav class="navbar">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/songs">Discover +</a>
                        <ul>
                            <li><a href="/songs">Create Playlist</a></li>
                            <li><a href="/new-distance-playlist">Commute</a></li>
                            <li><a href="/review">Year In Review</a></li>
                        </ul>
                    </li>
                    <li><a href="/trending">Trending</a></li>
                <% if (!locals.signedIn) { %>
                    <li><a href="/newUser">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                <% } else { %>
                    <li><a href="/account">Hello, <%= locals.username %></a>
                        <ul>
                            <li><a href="/account">Account Info</a></li>
                            <li><a href="/playlists">Saved Playlist</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </li>
                <% } %>
                </ul>
            </nav>
            <!-- LINKS end -->
        </header>
        <!-- NAVBAR end -->

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <h1>Welcome!</h1>
</body>
</html>